aside.col-sm-4
  article.sidebar
    h1.sidebar-title The club
    ul.sidebar-body
      li Paolo Scaroni (Executive Chairman)
      li Ivan Gazidis (Chief Executive Officer)
      li Paolo Maldini (Sproting Strategy & Development Director)
  // article
  article.sidebar