extends ../layout/index
block content
  #goal.container
    .row
      aside.col-sm-8
        .maincontent.goal
          h2.article-title Recent goals
          if !goalList || !goalList.length
            | No goal yet!
          else  
            .goal-messages
              each item in goalList
                .goal-item.item-list.media-list
                  .goal-item.media
                    .goal-info.media-body
                      .goal-head
                        .goal-title=item.player
                          | &nbsp;
                          small.goal-name.label.label-info=item.minute
                          | ( To: #{item.contender} )